<div class="list-group mb-4">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Cities
    </a>
    <a href="#" class="list-group-item list-group-item-action">Seoul</a>
    <a href="#" class="list-group-item list-group-item-action">Paris</a>
    <a href="#" class="list-group-item list-group-item-action">London</a>
    <a class="list-group-item list-group-item-action disabled">Rome</a>
</div>