@model ListModel;

<div class="list-group mb-4">
    <a href="#" class="list-group-item list-group-item-action active">
        @Model.Title
    </a>
    @foreach (var item in @Model.ListItem)
    {
        <a href="#" class="list-group-item list-group-item-action">@item</a>
    }
</div>