@{
    ViewBag.Title = "Home";
}

<h1 class="mb-3">Home</h1>

<h4 class="alert alert-primary">By Razor View</h4>
@await Component.InvokeAsync("Grid")

<h4 class="alert alert-primary">By TagHelper</h4>
<vc:grid></vc:grid>